@import "variables";

.quote{
	margin:20px 58px 30px 40px;
	font-family:'PT Sans', sans-serif;
	font-size:41px;
	line-height:43px;
	text-align:center;
}
	.tsEliot{
		font-size:20px;
	}
.aboutMe{
	margin:0px 48px 10px 48px;
	font-size:16px;
	text-align:left;
}
.headerOneAboutPage{
	margin:45px 0px 35px 48px;
	font-size:42px;
}
.mySkillsGrid{
	margin:0px 44px 0px 44px;
}
	.columnContainer{
		display:inline-block;
	}

			.ht{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.sc{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.js{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.htmlTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 67px 45px 68px;
				width:150px;
				font-size:18px;
				text-align:center;
			}
			.scssTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 68px 45px 67px;
				width:150px;
				font-size:18px;
				text-align:center;
			}
			.javaScriptTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 0px 45px 69px;
				width:150px;
				font-size:18px;
				text-align:center;
			}
			.jq{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.aa{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.ps{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.jqueryTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 67px 55px 68px;
				width:150px;
				font-size:18px;
				text-align:center;
			}
			.adobeAnimateTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 68px 55px 67px;
				width:150px;
				font-size:18px;
				text-align:center;
			}
			.photoshopTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 0px 55px 69px;
				width:150px;
				font-size:18px;
				text-align:center;
			}