/* Contents of this file:
	* |QUOTE|
	* |ABOUT ME|
	* |SKILLS|
*/

/** ELEMENTS ARE LAID OUT HIERACHALLY AS PER THE DOM **/

/** 

	ELEMENT PROPERTIES ARE ORGANIZED IN ORDER INTO: 
		- Layout (Box Model/Positioning Stuff etc.)
		- Typography (Font-Family, Font-Size etc.)
		- Appearance (Color etc.)

	UNDER EACH CATEGORY PROPERTIES ARE LAID OUT ALPHABETICALLY 

**/

/** NESTING WHERE APPROPRIATE **/

@import "variables";

/*----- QUOTE -----*/
.quote{
	margin:20px 58px 30px 40px;
	font-family:'PT Sans', sans-serif;
	font-size:41px;
	font-weight:bold;
	line-height:43px;
	text-align:center;
}
	.tsEliot{
		font-size:20px;
	}

/*----- ABOUT ME -----*/	
.about_me_container{
	margin:0px 50px 0px 50px;
}
	.headerOneAboutPage{
		margin:45px 0px 35px 0px;
		font-size:42px;
	}
	.aboutMe{
		margin:0px 0px 10px 0px;
		font-size:18px;
		text-align:left;
	}

/*----- SKILLS -----*/
.mySkillsGrid{
	margin:0px 44px 0px 44px;
}
	.columnContainer{
		display:inline-block;
	}

			.ht{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.sc{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.js{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.htmlTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 67px 45px 68px;
				width:150px;
				font-size:18px;
				text-align:center;
			}
			.scssTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 68px 45px 67px;
				width:150px;
				font-size:18px;
				text-align:center;
			}
			.javaScriptTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 0px 45px 69px;
				width:150px;
				font-size:18px;
				text-align:center;
			}
			.jq{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.aa{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.ps{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.jqueryTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 67px 55px 68px;
				width:150px;
				font-size:18px;
				text-align:center;
			}
			.adobeAnimateTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 68px 55px 67px;
				width:150px;
				font-size:18px;
				text-align:center;
			}
			.photoshopTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 0px 55px 69px;
				width:150px;
				font-size:18px;
				text-align:center;
			}
			.ct{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.sz{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.dc{
				display:inline-block;
				margin:0px 120px 15px 125px;
				font-size:40px;
			}
			.celtraTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 67px 55px 68px;
				width:150px;
				font-size:18px;
				text-align:center;
			}
			.sizmekTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 68px 55px 67px;
				width:150px;
				font-size:18px;
				text-align:center;
			}
			.doubleclickTitle{
				border:1px solid #fff;
				box-sizing:border-box;
				margin:0px 0px 55px 69px;
				width:150px;
				font-size:18px;
				text-align:center;
			}
