@import "variables";

.quote{
	margin:30px 58px 30px 40px;
	font-family:iosRegular;
	font-size:32px;
	text-align:center;
	color:$primaryTextWhite;
}
	.tsEliot{
		font-size:20px;
	}
.aboutMe{
	margin:0px 48px 10px 48px;
	font-family:iosRegular;
	font-size:16px;
	text-align:left;
	color:$primaryTextWhite;
}
.mySkillsCopy{
	margin:45px 0px 35px 48px;
	font-family:iosRegular;
	font-size:16px;
	color:$primaryTextWhite;
}
.mySkillsGrid{
	margin:0px 48px 0px 48px;
}

	.ht{
		display:inline-block;
		margin:0px 120px 15px 125px;
		font-family:iosRegular;
		font-size:40px;
		color:$primaryTextWhite;
	}
	.sc{
		display:inline-block;
		margin:0px 120px 15px 125px;
		font-family:iosRegular;
		font-size:40px;
		color:$primaryTextWhite;
	}
	.js{
		display:inline-block;
		margin:0px 120px 15px 125px;
		font-family:iosRegular;
		font-size:40px;
		color:$primaryTextWhite;
	}
	.html{
		border:1px solid #fff;
		box-sizing:border-box;
		display:inline-block;
		margin:0px 69px 45px 69px;
		width:150px;
		font-family:iosRegular;
		font-size:18px;
		text-align:center;
		color:$primaryTextWhite;
	}
	.scss{
		border:1px solid #fff;
		box-sizing:border-box;
		display:inline-block;
		margin:0px 69px 45px 69px;
		width:150px;
		font-family:iosRegular;
		font-size:18px;
		text-align:center;
		color:$primaryTextWhite;
	}
	.javaScript{
		border:1px solid #fff;
		box-sizing:border-box;
		display:inline-block;
		margin:0px 0px 45px 69px;
		width:150px;
		font-family:iosRegular;
		font-size:18px;
		text-align:center;
		color:$primaryTextWhite;
	}
	.jq{
		display:inline-block;
		margin:0px 120px 15px 125px;
		font-family:iosRegular;
		font-size:40px;
		color:$primaryTextWhite;
	}
	.aa{
		display:inline-block;
		margin:0px 120px 15px 125px;
		font-family:iosRegular;
		font-size:40px;
		color:$primaryTextWhite;
	}
	.ps{
		display:inline-block;
		margin:0px 120px 15px 125px;
		font-family:iosRegular;
		font-size:40px;
		color:$primaryTextWhite;
	}
	.jquery{
		border:1px solid #fff;
		box-sizing:border-box;
		display:inline-block;
		margin:0px 69px 15px 69px;
		width:150px;
		font-family:iosRegular;
		font-size:18px;
		text-align:center;
		color:$primaryTextWhite;
	}
	.adobeAnimate{
		border:1px solid #fff;
		box-sizing:border-box;
		display:inline-block;
		margin:0px 69px 45px 69px;
		width:150px;
		font-family:iosRegular;
		font-size:18px;
		text-align:center;
		color:$primaryTextWhite;
	}
	.photoshop{
		border:1px solid #fff;
		box-sizing:border-box;
		display:inline-block;
		margin:0px 0px 45px 69px;
		width:150px;
		font-family:iosRegular;
		font-size:18px;
		text-align:center;
		color:$primaryTextWhite;
	}

