/* Contents of this file:
	* |CASE STUDY INTRO TEXT|
	* |JQUERY IMAGE SLIDER PLUGIN|
	* |CASE STUDY MAIN TEXT|
*/

/** ELEMENTS ARE LAID OUT HIERACHALLY AS PER THE DOM **/

/** 

	ELEMENT PROPERTIES ARE ORGANIZED IN ORDER INTO: 
		- Layout (Box Model/Positioning Stuff etc.)
		- Typography (Font-Family, Font-Size etc.)
		- Appearance (Color etc.)

	UNDER EACH CATEGORY PROPERTIES ARE LAID OUT ALPHABETICALLY 

**/

/** NESTING WHERE APPROPRIATE **/

/*----- CASE STUDY INTRO TEXT -----*/
.titleContainer{
	margin:20px 0px 0px 39px;
}
	.theClient{
		display:block;
		margin:0px 0px 5px 0px;
		font-size:42px;
		text-align:left;
	}
	.theCampaign{
		display:block;
		margin:0px 0px 25px 0px;
		font-size:42px;
		text-align:left;
	}

/*----- JQUERY IMAGE SLIDER PLUGIN -----*/
.rslides {
  border:1px solid #fff;
  margin:0px auto 25px;
  padding:0;
  position:relative;
  width:91%;
  list-style:none;
  overflow:hidden;
  }

.rslides li {
  -webkit-backface-visibility:hidden;
  display:none;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  }

.rslides li:first-child {
  display:block;
  float:left;
  position:relative;
  }

.rslides img{
	border:0;
	display:block;
	float:left;
	height:auto;
	width:100%;
  }

.slider{
	border:1px solid white;
	margin:0px auto 20px;
	max-width:88%;
	overflow:hidden;
}
	.slides{
		display:block;
		margin:0;
		padding:0;
		width:2535px;
	}
		.slide{
			float:left;
			width:845px;
			list-style-type:none;
		}
			.galleryImg{
				display:block;
				height:auto;
				width:100%;
			}

/*----- CASE STUDY MAIN TEXT -----*/
.projectContainer{
	margin:0px 0px 0px 42px;
}
	.theProject{
		border-bottom:2px solid;
		display:inline-block;
		margin:0px 0px 20px 0px;
		font-size:32px;
		text-align:left;
	}
		.projectInfo{
			margin:0px 40px 10px 0px;
			font-size:18px;
	}
.technologiesUsed{
	border-bottom:2px solid;
	display:inline-block;
	margin:0px 0px 20px 0px;
	font-size:32px;
	text-align:left;
}
	.techInfo{
		margin:0px 0px 10px 17px;
		font-size:18px;
	}
		.techInfo > li{
			margin:0px auto 5px 0px;
		}
.resources{
	border-bottom: 2px solid;
	display: inline-block;
	margin:0px 0px 20px 0px;
	font-size:32px;
	text-align:left;
}

	video{
		border: 1px solid #fff;
		box-sizing:border-box;
		display:inline-block;
		margin:0px 15px 20px 0px;
	}
	.resourcesInfo{
		margin:0px auto 10px 0px;
		font-size:18px;
	}
		.here{
			border-bottom:1px solid #fff;
			margin-bottom:5px;
		}
