/* Contents of this file:
	* |INTRO TEXT/FORM BLURB|
	* |FORM|
*/

/** ELEMENTS ARE LAID OUT HIERACHALLY AS PER THE DOM **/

/** 

	ELEMENT PROPERTIES ARE ORGANIZED IN ORDER INTO: 
		- Layout (Box Model/Positioning Stuff etc.)
		- Typography (Font-Family, Font-Size etc.)
		- Appearance (Color etc.)

	UNDER EACH CATEGORY PROPERTIES ARE LAID OUT ALPHABETICALLY 

**/

/** NESTING WHERE APPROPRIATE **/

/*----- INTRO TEXT/FORM BLURB -----*/
.letsTalk{
	box-sizing:border-box;
	display:block;
	margin:20px 0px 35px 46px;
	font-size:42px;
	vertical-align:top;
}
.formBlurb{
	box-sizing:border-box;
	display:inline-block;
	margin:0px 12px 10px 49px;
	width:42%;
	font-size:16px;
	vertical-align:top;
}

/*----- FORM -----*/
form{
	display:inline-block;
	margin:0px 0px 30px 12px;
	width:43%;
}
	form > input{
		box-sizing:border-box;
		display:block;
		padding:5px 5px 0px 10px;
		width:100%;
		font-size:16px;
		line-height:32px;
		background-color:transparent;
		opacity:.6;
	}
	form #fullname{
		border:1px solid#fff;
	}
	form #email{
		border-left:1px solid #fff;
		border-right:1px solid #fff;
		border-bottom:1px solid #fff;
		border-top:none;
	}
	form #message{
		border-left:1px solid #fff;
		border-right:1px solid #fff;
		border-bottom:1px solid #fff;
		border-top:none;
	}
	input[type=text]{
		color:$primaryTextWhite;
		opacity:.6;
	}
	input[type=submit]{
		border-bottom:2px solid #fff;
		border-left:2px solid #fff;
		border-right:2px solid #fff;
		border-top:2px solid #fff;
		margin-top:15px;
		padding:5px 25px 5px 25px;
		width:auto;
		font-family:iosRegular;
		font-size:18px;
		color:$primaryTextWhite;
		cursor:pointer;
		opacity:1;
		text-align:center;
	}
	form > textarea{
		border:none;
		box-sizing:border-box;
		display:block;
		padding:5px 5px 0px 10px;
		width:100%;
		font-family:iosRegular;
		font-size:16px;
		background-color:transparent;
		color:$primaryTextWhite;
		opacity:.6;
		resize: none;
	}
	input:focus{
		font-family:iosRegular;
		font-size:16px;
		outline:none;
	}
	textarea:focus{
		font-family:iosRegular;
		font-size:16px;
		outline:none;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  	font-family:iosRegular;
	  	font-size:15px;
	  	color:#fff;
	}