.letsTalk{
	box-sizing:border-box;
	display:block;
	margin:20px 0px 35px 46px;
	font-size:42px;
	vertical-align:top;
}
.formBlurb{
	box-sizing:border-box;
	display:inline-block;
	width:42%;
	margin:0px 12px 10px 49px;
	font-size:16px;
	vertical-align:top;
}

form{
	display:inline-block;
	width:43%;
	margin:0px 0px 30px 12px;
}
	form > input{
		display:block;
		background-color:transparent;
		padding:5px 5px 0px 10px;
		width:100%;
		box-sizing:border-box;
		line-height:32px;
		opacity:.6;
		font-size:16px;
	}
	form #fullname{
		border:1px solid#fff;
	}
	form #email{
		border-left:1px solid #fff;
		border-right:1px solid #fff;
		border-bottom:1px solid #fff;
		border-top:none;
	}
	form #message{
		border-left:1px solid #fff;
		border-right:1px solid #fff;
		border-bottom:1px solid #fff;
		border-top:none;
	}
	input[type=text]{
		color:$primaryTextWhite;
		opacity:.6;
	}
	input[type=submit]{
		opacity:1;
		margin-top:15px;
		width:auto;
		border-left:2px solid #fff;
		border-right:2px solid #fff;
		border-bottom:2px solid #fff;
		border-top:2px solid #fff;
		font-family:iosRegular;
		color:$primaryTextWhite;
		font-size:18px;
		text-align:center;
		padding:5px 25px 5px 25px;
		cursor:pointer;
	}
	form > textarea{
		background-color:transparent;
		border:none;
		resize: none;
		padding:5px 5px 0px 10px;
		width:100%;
		box-sizing:border-box;
		display:block;
		opacity:.6;
		font-family:iosRegular;
		font-size:16px;
		color:$primaryTextWhite;
	}
	input:focus{
		outline:none;
		font-family:iosRegular;
		font-size:16px;
	}
	textarea:focus{
		outline:none;
		font-family:iosRegular;
		font-size:16px;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color:#fff;
	  font-family:iosRegular;
	  font-size:15px;
	}