.hrFooter{
	margin-bottom: 10px;
}

.footerSig{
	font-size:12px;
	font-family: iosRegular;
	color:#fff;
	display: inline-block;
	margin: 0px 0px 0px 48px;
	position:relative;
	top:30px;
}

.githubIcon{
	padding:2px;
}

.twitterIcon{
	padding: 2px;
}

.linkedinIcon{
	padding: 2px;
}

.socialIcons{
	display: inline-block;
	float:right;
	margin-right: 50px;
}