.hrFooter{
	margin-bottom:10px;
}

.footerContainer{
	margin:0px 55px 0px 40px;
}
	.footerSig{
		display:inline-block;
		position:relative;
		top:30px;
		font-family:iosRegular;
		font-size:12px;
		color:#fff;
	}

	.socialIcons{
		display:inline-block;
		float:right;
	}

		.githubIcon{
			padding:2px;
			cursor: pointer;
		}

		.twitterIcon{
			padding:2px;
			cursor: pointer;
		}

		.linkedinIcon{
			padding:2px;
			cursor: pointer;
		}
