/* Contents of this file:
	* |HORIZONTAL LINE DIVDIER|
	* |SIGNATURE AND SOCIAL ICONS|
*/

/** ELEMENTS ARE LAID OUT HIERACHALLY AS PER THE DOM **/

/** 

	ELEMENT PROPERTIES ARE ORGANIZED IN ORDER INTO: 
		- Layout (Box Model/Positioning Stuff etc.)
		- Typography (Font-Family, Font-Size etc.)
		- Appearance (Color etc.)

	UNDER EACH CATEGORY PROPERTIES ARE LAID OUT ALPHABETICALLY 

**/

/** NESTING WHERE APPROPRIATE **/

/*----- HORIZONTAL LINE DIVIDER -----*/
.hrFooter{
	margin:0px 0px 10px 0px;
}

/*----- SIGNATURE AND SOCIAL ICONS -----*/
.footerContainer{
	margin:0px 47px 0px 49px;
}
	.footerSig{
		display:inline-block;
		position:relative;
		top:30px;
		font-size:12px;
	}

	.socialIcons{
		display:inline-block;
		float:right;
	}

		.githubIcon{
			padding:2px;
			cursor:pointer;
		}

		.twitterIcon{
			padding:2px;
			cursor:pointer;
		}

		.linkedinIcon{
			padding:2px;
			cursor:pointer;
		}
