#logo {
	display: inline-block;
	position: relative;
	float: left;
	left:90px;
	top:35px;
}

.clearfix:after {
	content:"";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

nav{
	display: inline-block;
	position: relative;
	left: 350px;
	top:20px;
	li{
		list-style-type: none;
		padding: 0;
		margin:0;
		float: left;
	}
	a{
		text-align:center;
		display: block;
		text-decoration: none;
		padding:18px;
		color:white;
	}
}