@import "variables";

.blurb {
	/*--Layout--*/
	bottom: 140px;
	display: inline-block;
	left:55px;
	position: relative;
	width: 40%;

	/*--Typography--*/
	font-family: iosBold;
	font-size: 51px;

	/*--Appearance--*/
	color: $primaryTextWhite;
	text-align:left;	
}

.clearfix:after {
	content:"";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.cta {
	/*--Layout--*/
	border: solid 2px #fff;
	bottom: 85px;
	display: inline-block;
	padding: 12px;
	position: relative;
	right:332px;
	width: 100px;
	
	/*--Typography--*/
	font-family: iosRegular;
	font-size: 16px;
	text-decoration: none;

	/*--Appearance--*/
	color: #fff;
	text-align: center;	
}

.headshotContainer{
	/*--Layout--*/
	display: inline-block;
	margin:70px 0px 0px 25px;
}

.hrHeader{
	/*--Layout--*/
	border: 0.5px solid #fff;
	bottom: 15px;
	margin-bottom: 7px;
	position: relative;

	/*--Appearance--*/
	background-color: #fff;
}

.logoContainer {
	/* --- Layout --- */
	display: inline-block;
	margin: 50px 0px 0px 120px;
}

nav{
	/* --- Layout --- */
	display: inline-block;
	margin:48px 0px 0px 248px;
	li{ 
		/* --- Layout --- */
		float: left;
		margin:0;
		padding: 18px;

		/*--Typography--*/
		list-style-type: none;
	}
	a:link, a:visited{
		/* --- Layout --- */
		display: block;

		/*--Typography--*/
		font-family: iosRegular;
		text-decoration: none;
	}
}







