#logo {
	display: inline-block;
	float: left;
	margin-top: 50px;
	margin-left: 120px;
}

.clearfix:after {
	content:"";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

nav{
	margin-top: 48px;
	margin-left: 248px;
	display: inline-block;
	li{
		list-style-type: none;
		padding: 0;
		margin:0;
		float: left;
	}
	a{
		font-family: iosRegular;
		text-align:center;
		display: block;
		text-decoration: none;
		padding:18px;
		color:white;
	}
}