/* Contents of this file:
	* |EXPERIENCE IN & COLUMNS|
	* |QUICK LINKS WORK SHOWCASE|
*/

/** ELEMENTS ARE LAID OUT HIERACHALLY AS PER THE DOM **/

/** 

	ELEMENT PROPERTIES ARE ORGANIZED IN ORDER INTO: 
		- Layout (Box Model/Positioning Stuff etc.)
		- Typography (Font-Family, Font-Size etc.)
		- Appearance (Color etc.)

	UNDER EACH CATEGORY PROPERTIES ARE LAID OUT ALPHABETICALLY 

**/

/** NESTING WHERE APPROPRIATE **/

@import "variables";

/*----- EXPERIENCE IN & COLUMNS -----*/
.experienceInCopy{
	margin:20px 0px 35px 46px;
	font-size:42px;
	text-align:left;
}
.threeColumnContainer{
	margin:0px 0px 35px 0px;
	text-align:center;
}
	.Column{
		display:inline-block;
		height:267px;
		margin:0px 22px 0px 22px;
		position:relative;
		width:26.25%;
		background-image:url("../images/column_box.png");
		background-repeat:no-repeat;
		background-size:100%;
	}
			.frontEnd{
				left:25px;
				position:absolute;
				top:20px;
				font-size:34px;
				text-align:left;
			}
			.digitalDisplay{
				left:25px;
				position:absolute;
				top:20px;
				font-size:35px;
				text-align:left;
			}
			.appDev{
				left:25px;
				position:absolute;
				top:20px;
				font-size:35px;
				text-align:left;
			}

/*----- QUICK LINKS WORK SHOWCASE -----*/
.work_showcase_container{
	margin:40px 49px 40px 49px;
}
	.selected_work_copy{
		margin:0px 0px 20px 0px;
		font-size:42px;
	}
	.work_selects_title{
		display:inline-block;
		margin:10px 0px 0px 0px;
		padding:0px 0px 2px 0px;
		font-size:22px;
		position: relative;
	}
	.quick_link_work{
		border-bottom: 1px solid #fff;
		padding-bottom:3px;
	}
	.work_selects{
		margin:10px 0px 20px 0px;
		font-size:16px;
	}
	.view_all_work{
		margin:30px 0px 30px 0px;
		font-size:18px;
	}
	