@import "variables";

.experienceInCopy{
	margin:20px 0px 35px 48px;
	font-family:iosRegular;
	font-size:42px;
	text-align:left;
	color:$primaryTextWhite;
}
.threeColumnContainer{
	margin-bottom:35px;
}
	.Column{
		display:inline-block;
		width:26.25%;
		height:267px;
		margin:0px 0px 0px 48px;
		position:relative;
		background-image:url("../images/column_box.png");
		background-repeat:no-repeat;
		background-size: 100%;
	}
			.frontEnd{
			left:25px;
			position:absolute;
			top:20px;
			font-family:iosRegular;
			font-size:34px;
			color:$primaryTextWhite;
			text-align: left;
			}

			.digitalDisplay{
			left:25px;
			position:absolute;
			top:20px;
			font-family:iosRegular;
			font-size:35px;
			color:$primaryTextWhite;
			text-align: left;
			}

			.appDev{
			left:25px;
			position:absolute;
			top:20px;
			font-family:iosRegular;
			font-size:35px;
			color:$primaryTextWhite;
			text-align: left;
			}
	