@media only screen and (max-width: 960px) {
	.container {
		width:860px;
	}
	nav {
		margin-left:180px;
	}
	.logoContainer {
		margin-left:105px;
	}
	.blurb{
		font-size:45px;
		bottom:135px;
	}
	.headshot {
		width:365px;
	}
	.cta {
		left:450px;
		bottom: 120px;
	}
}

@media only screen and (max-width: 860px) {
	.container {
		width:760px;
	}
	.logoContainer{
		margin-left: 85px;
	}
	nav {
		margin-left: 130px;
	}
	li > a {
		font-size:14px;
	}
	#githubIcon {
		margin-left: 55%;
	}
	.blurb {
		font-size:40px;
		left:45px;
		bottom:120px;
	}
	.headshot{
		width:320px;
	}
	.cta {
		left:395px;
		bottom: 105px;
	}

}

@media only screen and (max-width: 760px) {
	.container {
		width:660px;
	}
	nav {
		margin-left:138px;
	}
	li > a {
		font-size: 12px;
	}
	.logoContainer {
		margin-left: 65px;
	}
	.logo {
		width:150px;
	}
	.headshotContainer {
		margin-left: 5px;
	}
	.headshot{
		width:285px;
	}
	.blurb {
		font-size:35px;
		bottom:110px;
		left:60px;
	}
	.cta {
		width:80px;
		font-size:13px;
		left:348px;
		bottom:100px;
	}
}

@media only screen and (max-width: 660px) {
	.container {
		width:540px;
	}
	.logoContainer{
		display: block;
		text-align: center;
		margin-left:0;
		margin-top:35px;
	}
	.logo {
		width:199px;
	}
	nav{
		display: block;
		margin-top: 35px;
		margin-left: 0;
	}
	nav li {
		padding: 5px;
		float:none;
		text-align: center;
	}
	li > a {
		font-size: 16px;
	}
	/* --Centers headshot, blurb and CTA on smaller screens */
	.headshotAndBlurb{
		text-align: center;
	}
	.headshotContainer {
		margin-top:40px;
		margin-left:0px;
		display: block;
	}
	.headshot{
		width:401px;
	}
	.blurb{
		width:100%;
		text-align: center;
		left:0px;
		bottom:0px;
		font-size: 40px;
		margin-bottom:20px;
	}
	.cta {
		width:100px;
		font-size: 16px;
		bottom:0px;
		left:300px;
		position: static;
		margin-bottom:60px;
	}
}