/* BREAKPOINTS in this file:
	* |BLURB|
	* |CLEARFIX HACK|
	* |CTA BUTTON|
	* |HEADSHOT IMAGE CONTAINER|
	* |HR PAGE DIVIDERS|
	* |LOGO - MY NAME CONTAINER|
	* |NAVIGATION|
*/

@media only screen and (max-width: 960px) {
	.container{
		width:860px;
	}

	/*****------- <HEADER> -------*****/
		.logoContainer{
			margin:50px 0px 0px 105px;
		}
		nav{
			margin:50px 0px 0px 180px;
		}
		.headshot{
			width:365px;
		}
		.blurb{
		bottom:135px;
		font-size:45px;
		}
		.cta{
			bottom:120px;
			left:450px;
		}
	/*****------- </HEADER> -------*****/

	/*****------- <INTRO PAGE> -------*****/
		.experienceInCopy{
			margin:20px 0px 35px 124px;
		}
		.threeColumnContainer {
			text-align:center;
		}
			#column1{
				margin:0px 50px 35px 0px;
			}
				.frontEnd{
					left:0px;
				}
			#column2{
				margin:0px 0px 35px 50px;
			}		
				.digitalDisplay{
					left:0px;
				}
			#column3{
				margin:0px 0px 0px 0px;
			}
		.socialIcons{
			margin:0px 70px 0px 0px;
		}
			.appDev{
				left:0px;
			}
	/*****------- </INTRO PAGE> -------*****/

	/*****------- <ABOUT PAGE> -------*****/
		.ht{
			margin:0px 105px 15px 105px;
		}
		.sc{
			margin:0px 105px 15px 105px;
		}
		.js{
			margin:0px 105px 15px 105px;
		}
		.html{
			margin:0px 50px 45px 50px;
		}
		.scss{
			margin:0px 50px 45px 50px;
		}
		.javaScript{
			margin:0px 50px 45px 50px;
		}
		.jq{
			margin:0px 105px 15px 105px;
		}
		.aa{
			margin:0px 105px 15px 105px;
		}
		.ps{
			margin:0px 105px 15px 105px;
		}
		.jquery{
			margin:0px 50px 55px 50px;
		}
		.adobeAnimate{
			margin:0px 50px 55px 50px;
		}
		.photoshop{
			margin:0px 50px 55px 50px;
		}
	/*****------- </ABOUT PAGE> -------*****/
}

@media only screen and (max-width: 860px) {
	.container{
		width:760px;
	}

	/*****------- <HEADER> -------*****/
		.logoContainer{
			margin:45px 0px 0px 85px;
		}
		nav{
			margin:45px 0px 0px 130px;
		}
			li > a{
				font-size:14px;
			}
		.headshot{
			width:320px;
		}
		.blurb{
			bottom:120px;
			left:45px;
			font-size:40px;
		}
				.cta{
			bottom:105px;
			left:395px;
		}
		.cta{
			bottom:105px;
			left:395px;
		}
	/*****------- </HEADER> -------*****/

	/*****------- <INTRO PAGE> -------*****/
		.experienceInCopy{
			margin:20px 0px 35px 100px;
		}
		#column1{
				margin:0px 25px 35px 0px;
			}
				.frontEnd{
					left:0px;
				}
		#column2{
			margin:0px 0px 35px 25px;
		}		
			.digitalDisplay{
				left:0px;
			}
		#column3{
			margin:0px 0px 0px 0px;
		}
	/*****------- </INTRO PAGE> -------*****/

	/*****------- <ABOUT PAGE> -------*****/
		.ht{
			margin:0px 89px 15px 89px;
		}
		.sc{
			margin:0px 89px 15px 89px;
		}
		.js{
			margin:0px 89px 15px 89px;
		}
		.html{
			margin:0px 35px 45px 35px;
		}
		.scss{
			margin:0px 35px 45px 35px;
		}
		.javaScript{
			margin:0px 0px 45px 35px;
		}
		.jq{
			margin:0px 89px 15px 89px;
		}
		.aa{
			margin:0px 89px 15px 89px;
		}
		.ps{
			margin:0px 89px 15px 89px;
		}
		.jquery{
			margin:0px 35px 55px 35px;
		}
		.adobeAnimate{
			margin:0px 35px 55px 35px;
		}
		.photoshop{
			margin:0px 0px 55px 35px;
		}

	/*****------- <FOOTER> -------*****/
		.footerSig{
			margin:0px 0px 0px 102px;
		}
		.socialIcons{
			margin:0px 98px 0px 0px;
		}
	/*****------- </FOOTER> -------*****/
}

@media only screen and (max-width: 760px) {
	.container{
		width:660px;
	}

	/*****------- <HEADER> -------*****/
		.logoContainer{
			margin:35px 0px 0px 65px;
		}
			.logo{
				width:150px;
			}
		nav{
			margin:35px 0px 0px 145px;
		}
			li > a{
				font-size:12px;
			}
		.headshotContainer{
			margin:70px 0px 0px 5px;
		}
			.headshot{
				width:285px;
			}
		.blurb{
			bottom:110px;
			left:60px;
			font-size:35px;
		}
		.cta{
			bottom:100px;
			left:355px;
			width:80px;
			font-size:13px;
		}
	/*****------- </HEADER> -------*****/

	/*****------- <INTRO PAGE> -------*****/
		.experienceInCopy{
			margin:20px 0px 35px 50px;
		}
	/*****------- </INTRO PAGE> -------*****/

	/*****------- <ABOUT PAGE> -------*****/
	.ht{
		margin:0px 74px 15px 74px;
	}
	.sc{
		margin:0px 74px 15px 74px;
	}
	.js{
		margin:0px 0px 15px 74px;
	}
	.html{
		margin:0px 20px 45px 20px;
	}
	.scss{
		margin:0px 20px 45px 20px;
	}
	.javaScript{
		margin:0px 0px 45px 20px;
	}
	.jq{
		margin:0px 74px 15px 74px;
	}
	.aa{
		margin:0px 74px 15px 74px;
	}
	.ps{
		margin:0px 0px 15px 74px;
	}
	.jquery{
		margin:0px 20px 45px 20px;
	}
	.adobeAnimate{
		margin:0px 20px 45px 20px;
	}
	.photoshop{
		margin:0px 0px 45px 20px;
	}
	/*****------- </ABOUT PAGE> -------*****/

	/*****------- <FOOTER> -------*****/
		.footerSig{
			margin:0px 0px 0px 48px;
		}
		.socialIcons{
			margin:0px 70px 0px 0px;
		}
	/*****------- </FOOTER> -------*****/
}

@media only screen and (max-width: 660px) {
	.container{
		width:540px;
	}

	/*****------- <HEADER> -------*****/
		.logoContainer{
			display:block;
			margin:35px 0px 0px 0px;
			text-align:center;
		}
			.logo{
				width:199px;
			}
		nav{
			display:block;
			margin:35px 0px 0px 0px;
		}
			nav li{
				float:none;
				padding:5px;
				text-align:center;
			}
				li > a{
					font-size:16px;
				}
	/*** --Centers headshot, blurb and CTA on smaller screens-- ***/
		.headshotAndBlurbContainer{
			text-align:center;
		}
			.blurb{
				bottom:0px;
				left:0px;
				margin:0px 0px 20px 0px;
				width:100%;
				font-size:40px;
				text-align:center;
			}
			.headshotContainer{
				display:block;
				margin:40px 0px 0px 0px;
			}
				.headshot{
					width:401px;
				}
		.cta{
			bottom:0px;
			left:300px;
			margin:0px 0px 60px 0px;
			position:static;
			width:100px;
			font-size:16px;
		}
	/*****------- </HEADER> -------*****/

	/*****------- <INTRO PAGE> -------*****/
		.experienceInCopy{
			margin:20px 0px 35px 0px;
			text-align:center;
		}
		#column1{
			display:block;
			margin:0px auto 35px auto;
		}
		#column2{
			display:block;
			margin:0px auto 35px auto;
		}
	/*****------- </INTRO PAGE> -------*****/

	/*****------- <FOOTER> -------*****/
		.footerSig{
			display:block;
			margin:15px 0px 15px 0px;
			position:static;
			text-align:center;
		}
		.socialIcons{
			display:block;
			float:none;
			margin:0px 0px 0px 0px;
			text-align:center;
		}
	/*****------- </FOOTER> -------*****/
}

@media only screen and (max-width: 540px) {
	.container{
		width:420px;
	}
	/*****------- <HEADER> -------*****/
		.blurb {
			width:90%;
			font-size:36px;
		}
	/*****------- </HEADER> -------*****/
}

@media only screen and (max-width: 420px) {
	.container{
		width:380px;
	}
	/*****------- <HEADER> -------*****/
		.blurb{
			font-size:32px;
		}
	/*****------- </HEADER> -------*****/
}

@media only screen and (max-width: 380px) {
	.container{
		width:320px;
	}
	/*****------- <HEADER> -------*****/
		.headshot{
			width:320px;

		}
		.blurb{
			width:80%;
		}
	/*****------- </HEADER> -------*****/
}