/* Contents of this file:
	* |WORKED ON GRID|
*/

/** ELEMENTS ARE LAID OUT HIERACHALLY AS PER THE DOM **/

/** 

	ELEMENT PROPERTIES ARE ORGANIZED IN ORDER INTO: 
		- Layout (Box Model/Positioning Stuff etc.)
		- Typography (Font-Family, Font-Size etc.)
		- Appearance (Color etc.)

	UNDER EACH CATEGORY PROPERTIES ARE LAID OUT ALPHABETICALLY 

**/

/** NESTING WHERE APPROPRIATE **/

@import "variables";

/*----- WORKED ON GRID -----*/
.worked_on_copy{
	margin:20px 0px 15px 46px;
	font-size:42px;
	text-align:left;
}

.workExamplesGrid{
	margin:0px 0px 15px 0px;
	text-align:center;
}
		.workImageContainer{
			display:inline-block;
			height:auto;
			margin:20px;
			width:42%;
		}
			.flip3D{
				display:block;
				height:auto;
				position:relative;
				width:100%;
				cursor:pointer;
			}
				.workImage{
					border:2px solid #fff;
					box-sizing:border-box;
					display:block;
					position:relative;
					max-width:100%;
					z-index:50;
				}
				.back{
					border:2px solid #575757;
					box-sizing:border-box;
					display:block;
					position:absolute;
					left:0;
					top:0;
					width:100%;
					height:100%;
					background-color:#fff3f3;
				}
				.fade_on_overlay{
					border:2px solid #000;
					box-sizing:border-box;
					display:block;
					position:absolute;
					left:0;
					top:0;
					width:403px;
					height:228px;
					background-color:#000;
				}
				.case_study_text_animated{
					position:absolute;
					left:0;
					right:0;
					top:50%;
					transform:translateY(-50%);
					margin:auto;
					opacity:0;
					z-index:80;
				}
					.campaign_name{
						font-size:30px;
						color:#0f0aca;
						font-family:iosBold;
					}
					.client{
						margin:5px 0px 0px 0px;
						font-size:22px;
						color:#0f0aca;
					}
				.case_study_text{
					display:none;
					padding:8px 0px 8px 15px;
					font-size:20px;
					background-color:#fff;
					color:$coreBgColor;
					text-align:left;
				}

