/* Contents of this file:
	* |WORKED ON GRID|
*/

/** ELEMENTS ARE LAID OUT HIERACHALLY AS PER THE DOM **/

/** 

	ELEMENT PROPERTIES ARE ORGANIZED IN ORDER INTO: 
		- Layout (Box Model/Positioning Stuff etc.)
		- Typography (Font-Family, Font-Size etc.)
		- Appearance (Color etc.)

	UNDER EACH CATEGORY PROPERTIES ARE LAID OUT ALPHABETICALLY 

**/

/** NESTING WHERE APPROPRIATE **/

@import "variables";

/*----- WORKED ON GRID -----*/
.worked_on_copy{
	margin:20px 0px 15px 46px;
	font-size:42px;
	text-align:left;
}

.workExamplesGrid{
	margin:0px 0px 15px 0px;
	text-align:center;
}
		.workImageContainer{
			display:inline-block;
			height:auto;
			margin:20px;
			width:42%;
		}
			.flip3D{
				display:block;
				height:auto;
				position:relative;
				width:100%;
				cursor:pointer;
			}
				.workImage{
					border:2px solid #fff;
					box-sizing:border-box;
					display:block;
					position:relative;
					max-width:100%;
					z-index:50;
					opacity:.95;
				}
				.back{
					border:2px solid #fff;
					box-sizing:border-box;
					display:block;
					position:absolute;
					left:0;
					top:0;
					max-width:100%;
					background-color:#fff3f3;
				}
				.case_study_text{
					padding:8px 0px 8px 15px;
					font-family:iosBold;
					font-size:24px;
					background-color:#fff;
					color:$coreBgColor;
					text-align:left;
				}
				.client{
					font-family:iosRegular;
					font-size:16px;
				}
				