/* Contents of this file:
	* |WORKED ON GRID|
*/

/** ELEMENTS ARE LAID OUT HIERACHALLY AS PER THE DOM **/

/** 

	ELEMENT PROPERTIES ARE ORGANIZED IN ORDER INTO: 
		- Layout (Box Model/Positioning Stuff etc.)
		- Typography (Font-Family, Font-Size etc.)
		- Appearance (Color etc.)

	UNDER EACH CATEGORY PROPERTIES ARE LAID OUT ALPHABETICALLY 

**/

/** NESTING WHERE APPROPRIATE **/

@import "variables";

/*----- WORKED ON GRID -----*/
.workedOnCopy{
	margin:20px 0px 15px 46px;
	font-size:42px;
	text-align:left;
}

.workExamplesGrid{
	text-align:center;
}
		.workImageContainer{
			border:2px solid #fff;
			display:inline-block;
			height:auto;
			margin:20px;
			width:42%;
		}
			.overlayTrigger{
				display:block;
				height:auto;
				position:relative;
				width:100%;
				cursor:pointer;
			}
				.workImage{
					display:block;
					max-width:100%;
				}
				.overlay{
					bottom:0;
					display:block;
					height:auto;
					left:0;
					position:absolute;
					right:0;
					top:0;
					width:100%;
					background-color:white;
					opacity:0;
				}
					.overlayTextContainer{
						box-sizing:border-box;
						height:100%;
						padding:10px 0px 0px 10px;
						width:100%;
					}
						.overlayText{
							float:left;
							font-size:22px;
							color:$coreBgColor;
						}

				.caseStudyText{
					display:none;
					padding:8px 0px 8px 15px;
					font-size:20px;
					background-color:#fff;
					color:$coreBgColor;
					text-align:left;
				}

